<section class="l-content-fixed section">
  <header class="section-header">
    <h2 class="section-title">質問</h2>
    <p class="section-subtitle">Question</p>
  </header>
  <div class="section-question">
      <p class="section-question-title">
        <%= "タイトル : #{@post.title}"%>
      </p>
      <p class="section-question-content">
        <%= "内容 : #{@post.content}"%>
      </p>
  </div>

  <div class="section-question">
    <%= form_with model: [@post, @comment], data: {"turbo-method": :post} do |f|%>
      <p class="section-question-title">
        <%= f.label "コメント"%>
        <%= f.text_field :content%>
      </p>
      <%= f.submit "コメントする"%>
    <% end %>
  </div>

    <div class="section-question">
      <% @comments.each do |comment|%>
      <p class="section-question-title">
        <%= comment.content %>
      </p>
      <% end %>
  </div>
<section>
